body{
    text-align: center;
    background-color:darkgrey;
} 
 h1{
color:rgb(11, 167, 234);
font-size: 55px;
}
#img{
border-radius: 15px;
border-width: 10px;
border-color:rgb(11, 167, 234);
border-style:groove;
}
button{
    padding:5px 20px;
    margin: 15px  100px;
    cursor:pointer;
    border: none;
    color: rgb(11, 167, 234);
    border-radius: 15px;
}